$font-primary: #0E1C3B;
$font-secondary: #484848;
$font-tertiary: #A2A2A2;
$border-color: #eeeeee;
$red: #d43242;
$red-hovered: #c9444d;
$green: #16BFB1;

html {
    height: 100%;
}
body {
    min-height: 100%;
    font-size: 16px;
    color: $font-primary;
    font-family: 'Open Sans', sans-serif;
}

#content {
    height: 100%;
}

ul {
    padding-left: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

// ===== COMMON STYLES ==== //

.margin-top {
    margin-top: 8px;
}
.margin-top-16 {
    margin-top: 16px;
}
.margin-top-24 {
    margin-top: 24px;
}
.margin-top-36 {
    margin-top: 36px;
}
.margin-top-48 {
    margin-top: 48px;
}
.margin-top-72 {
    margin-top: 72px;
}
.margin-top-96 {
    margin-top: 96px;
}

.margin-bottom {
    margin-bottom: 8px;
}
.margin-bottom-16 {
    margin-bottom: 16px;
}
.margin-bottom-24 {
    margin-bottom: 24px;
}
.margin-bottom-36 {
    margin-bottom: 36px;
}
.margin-bottom-48 {
    margin-bottom: 48px;
}
.margin-bottom-72 {
    margin-bottom: 72px;
}
.margin-bottom-96 {
    margin-bottom: 96px;
}

.margin-left {
    margin-left: 8px;
}
.margin-left-16 {
    margin-left: 16px;
}
.margin-left-24 {
    margin-left: 24px;
}
.margin-left-36 {
    margin-left: 36px;
}
.margin-left-48 {
    margin-left: 48px;
}
.margin-left-72 {
    margin-left: 72px;
}
.margin-left-96 {
    margin-left: 96px;
}

.margin-right {
    margin-right: 8px;
}
.margin-right-16 {
    margin-right: 16px;
}
.margin-right-24 {
    margin-right: 24px;
}
.margin-right-36 {
    margin-right: 36px;
}
.margin-right-48 {
    margin-right: 48px;
}
.margin-right-72 {
    margin-right: 72px;
}
.margin-right-96 {
    margin-right: 96px;
}


.flex {
    display: flex;
}
.flex-1 {
    display: flex;
    flex: 1;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-panel {
    border-right: 1px solid $border-color;
}

.full-height {
    min-height: 100%;
}

.page-header {
    margin-bottom: 24px;
}

label {
    font-weight: 600;
    font-size: 13px;
    color: $font-tertiary;
    margin-left: 8px;
    margin-bottom: 4px;
}

input {
    color: $font-primary;
}

// ===== EDITABLE TEXT FIELD ===== //
.editable-text-field {
    position: relative;
    font-size: 18px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 2px;

    input {
        width: 100%;
        border: none;
        background: transparent;
        &:focus {
            outline: none;
        }
    }

    // Show border only when hovered
    &.hover-border:hover {
        border: 1px solid #eee;
        background: #fafafa;
    }

    // Always bordered
    &.bordered {
        border: 1px solid #eee;
        background: #fafafa;
    }

    // 'Edit' Icon
    .fa-pencil-alt {
        position: absolute;
        right: 13px;
        top: 12px;
        color: $font-tertiary;
        opacity: 0;
    }

    &:hover {
        cursor: pointer;

        // Show 'Edit' Icon when hovering over field
        .fa-pencil-alt {
            opacity: 1;
        }
    }

}

// field error msges
.error-msg {
    color: $red;
    margin-top: 8px;
}

// ===== NAVBAR ===== //
.navbar {
    border-bottom: 1px solid $border-color;

    .navbar-brand img {
        height: 50px;
        width: inherit;
    }
}
.editable-text-field-actions {
    button {
        background: #e0dfe0;
        border: none;
        margin-top: 8px;
        font-size: 20px;
        height: 35px;
        width: 35px;
        color: #555;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
        }

        &:focus {
            outline: none;
        }

        &:first-child {
            margin-right: 8px;
        }

        &.success {
            background: $green;
            color: white;
        }
    }
}

// ===== ACCOUNT ===== //
#account-page {
    min-height: calc(100vh - 77px);
    background: linear-gradient(305.42deg, #16BFB1 0%, #A1F2EC 100%);
}
#account-panel {
    width: 80vw;
    max-width: 800px;
    background: white;
    border-radius: 5px;
}

#account-profile {
    padding: 48px;
}

.account-profile-pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #f5f5f5;

    .fa-user {
        font-size: 50px;
        color: #ddd;
    }
}

#account-menu {

    .menu-item button {
        text-align: left;
        width: 100%;
        padding: 20px 24px;
        font-size: 18px;
        background: white;
        border-color: transparent;
        color: $font-tertiary;

        &:hover {
            cursor: pointer;
            color: $font-primary;
        }
        &:focus {
            outline: none;
        }

        // menu icon
        i.far {
            margin-right: 16px;
            font-size: 18px;

            // when menu item is active, set to dark color
            &.active {
                ::before {
                    color: $font-primary;
                }
            }
        }
    }
}

#account-profile-name-preview {
    font-weight: 400;

    &:first-letter {
        text-transform: uppercase;
    }
}

#account-profile-email-preview {
    color: $font-tertiary;
}
